################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/HadiTakip/.vs/HadiTakip/v15
/.vs/HadiTakip/v15/.suo
/HadiTakip/HadiTakip/bin
/HadiTakip/HadiTakip/obj
